@model ASRental.Models.Offer

@{
    ViewData["Title"] = "Create";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Packages</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Order one of our offer packages that suits you!</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<!--== Pricing Area Start ==-->
<section id="pricing-page-area" class="section-padding  overlay">
    <div class="container">
        <div class="row ">
            <!-- Pricing Content Start -->
            <!-- Single Sidebar Start -->
            <div class="single-sidebar col-lg-2" style="width: 270px; height: 900px; ">

                <div class="sidebar-body  ">
                    <img class="audi" src="~/assets/img/merc.jpg" />
                </div>
            </div>
            <!-- Single Sidebar End -->

            <div class="col-lg-8">
                <div class="pricing-details-content">
                    <div class="row">
                        <!-- Single Pricing Table -->
                        <div class="col-lg-6 col-md-6 text-center ">
                            <div class="single-pricing-table ">
                                <h3 class="platinum_no_hover">PLATINUM PACKAGE</h3>
                                <h2>$200</h2>
                                <h5>PER MONTH</h5>
                                <button href="Views/Offers/Index.cshtml" class="btn platinum col-8 mt-5 text-center">Order Package!</button>

                                <ul class="package-list white_text">
                                    <li>FREE VEHICLE DELIVERY</li>
                                    <li>FULL TANK OF GAS WITH PREMIUM FUEL</li>
                                    <li>CHAUFFER INCLUDED</li>
                                    <li>50% DISCOUNT ON THE NEXT HIRE</li>
                                    <li>ALLOW 2500 KMs DRIVEN</li>
                                    <li>LIMO & SUVs ARE AVAILABLE</li>
                                    <li>FULL INSURANCE & SERVICE</li>
                                    <li>FREE BABY SEAT & BOOSTER</li>
                                </ul>
                            </div>

                        </div>
                        <!-- Single Pricing Table -->
                        <!-- Single Pricing Table -->
                        <div class="col-lg-6 col-md-6 text-center">
                            <div class="single-pricing-table">
                                <h3 class="gold_no_hover">GOLD PACKAGE</h3>
                                <h2>$150</h2>
                                <h5>PER MONTH</h5>
                                <button href="#" class="btn gold col-8 mt-5 text-center">Order Package!</button>

                                <ul class="package-list white_text">
                                    <li>70% OFF DELIVERY</li>
                                    <li>FULL TANK OF GAS</li>
                                    <li>30% DISCOUNT ON THE NEXT HIRE</li>
                                    <li>ALLOW 1500 KMs DRIVEN</li>
                                    <li>CAR MAINTENANCE</li>
                                    <li>FREE BABY SEAT</li>
                                </ul>
                            </div>
                            
                        </div>
                        <!-- Single Pricing Table -->
                        <!-- Single Pricing Table -->
                        <div class="col-lg-6 col-md-6 text-center">
                            <div class="single-pricing-table">
                                <h3 class="silver_no_hover">SILVER PACKAGE</h3>
                                <h2>$100</h2>
                                <h5>PER MONTH</h5>
                                <button href="#" class="btn silver col-8 mt-5 text-center">Order Package!</button>

                                <ul class="package-list white_text">
                                    <li>50% OFF DELIVERY</li>
                                    <li>THREE QUARTERS TANK OF GAS</li>
                                    <li>15% DISCOUNT ON THE NEXT HIRE</li>
                                    <li>ALLOW 1000 KMS DRIVEN</li>
                                    <li>CAR INSPECTION</li>
                                    <li>FREE BOOSTER</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Pricing Table -->
                        <!-- Single Pricing Table -->
                        <div class="col-lg-6 col-md-6 text-center">
                            <div class="single-pricing-table">
                                <h3 class="bronze_no_hover">BRONZE PACKAGE</h3>
                                <h2>$50</h2>
                                <h5>PER MONTH</h5>
                                <button href="#" class="btn bronze col-8 mt-5 text-center">Order Package!</button>

                                <ul class="package-list white_text">
                                    <li>25% OFF DELIVERY</li>
                                    <li>HALF TANK OF GAS</li>
                                    <li>ALLOW 500 KMs DRIVEN</li>
                                    <li>TRANSPORT ABROAD</li>
                                    <li>FREE ROAD MAP</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Pricing Table -->
                    </div>
                </div>
            </div>
            <!-- Pricing Content End -->

            <!-- Single Sidebar Start -->
            <div class="single-sidebar col-lg-2" style="width: 270px; height: 900px;">

                <div class="sidebar-body  ">
                    <img class="audi" src="~/assets/img/price.jpg" />
                </div>
            </div>
            <!-- Single Sidebar End -->

        </div>
    </div>
    <!-- Sidebar Area End -->
   
</section>
<!--== FAQ Area End ==-->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfferType" class="control-label"></label>
                <input asp-for="OfferType" class="form-control" />
                <span asp-validation-for="OfferType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
