@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="my-3 text-center">@ViewData["Title"]</h1>
<section>
    <div class="row d-flex justify-content-center col-12">
        <div class="col-sm-10 col-md-6 col-lg-5 border border-success rounded m-24 mb-5">
            <form id="account" method="post" class="py-5">
                <div class="d-flex justify-content-center">
                    <i class="fa fa-car" style="font-size:48px;color:#0195eb"></i>
                </div>
                <div class="d-flex justify-content-center">
                    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="log-btn">
                    <button type="submit"><i class="fa fa-sign-in log-btn"></i> Log In</button>
                </div>
                <div class="login-page-content">
                    <div class="login-other">
                        <span class="or">or</span> 
                    </div>
                </div>
                
                <div  class="login-other">
                    <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                    <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                </div>

                <div class="form-group">
                    <div class="row col-12">
                        <p class="col-12 mt-5 text-center">
                            <a class="text text-sm blue  " id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p class="col-12 text-center">
                            <a class="text text-sm blue " asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    .form-control:focus {
        border-color: #808080 !important;
        box-shadow: 0 0 2px rgba(187, 28, 36, 1) !important;
    }

    .login-btn {
        color: white;
        background-color: #0195eb;
        border-color: #47b8fa;
    }

    .login-btn:hover {
        color:white;
        background-color: black;
        border-color: #0e6cff;
    }

    .border-success {
        border-color: #808080 !important;
    }

    .blue {
        color: #0195eb;
    }

    .fa fa-sign-in log-btn {
        height: 40px;
        width: 90%;
        text-align: center;
    }

</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
